@import 'tailwindcss';
@plugin "@iconify/tailwind4";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-light: oklch(86.9% 0.005 56.366);
	--color-dark: oklch(27.4% 0.006 286.033);
	--color-logo-red: #ff7e7e; /* means current, cancel, delete, go back, use existing*/
	--color-logo-blue: #7e80ff; /* means new, create, add*/
	--color-logo-purple: #b87eff; /* means update, change */
	--color-status-logo-progress: #ffd27e; /* means in progress, medium */
	--color-status-logo-done: #87b6a7; /* means accept, success, good, done */
	--inset-shadow-md: inset -1px 1px 8px rgba(0, 0, 0, 0.25);
}

@layer {
	input {
		border: 1px solid var(--color-neutral-500);
		border-radius: var(--radius-xl);
		padding: var(--spacing);
		width: 100%;
	}
	progress {
		width: 100%;
		border-radius: var(--radius-xl);
		accent-color: var(--bar-color);
	}
	progress::-webkit-progress-value,
	progress::-moz-progress-bar {
		background-color: var(--bar-color);
	}

	.indented {
		padding: 0.5rem;
		border-radius: 1rem;
		box-shadow: var(--inset-shadow-md);
	}

	.dots {
		background-image: radial-gradient(var(--color-logo-red) 0px, transparent 2px);
		background-size: 20px 20px;
	}
	.dots.alternate {
		--color-logo-red: var(--color-logo-blue);
	}
}
